@font-face {
  font-family: "Inter-Regular";
  src: url('/public/fonts/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: "Oswald-Regular";
  src: url('/public/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Jocky Starline";
  src: url('/public/fonts/Jocky Starline.ttf');
}

@font-face {
  font-family: "Urbanist-Regular";
  src: url('/public/fonts/Urbanist-VariableFont_wght.ttf');
}

/* @font-face {
  font-family: "Urbanist-Variable";
  src: url("/assets/fonts/Urbanist[wght].ttf");
} */

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #ecebe5;
  font-family: "Inter-Regular", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px 0;

  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 120px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.p-steps-item .p-menuitem-link {
  background-color: #ecebe5;
}

.p-steps .p-steps-item:before {
  border-top: 2px solid #4d5563;
}

.p-steps-number {
  background-color: var(--blue-500);
}

.font-oswald {
  font-family: 'Oswald-Regular', "sans-sterif";
}

.font-starline {
  font-family: 'Jocky Starline', 'sans-sterif';
}

.font-urbanist {
  font-family: 'Urbanist-Regular', 'sans-sterif';
}

button {
  background-color: var(--blue-700);
  border-color: var(--blue-700);
}

button:hover {
  background-color: var(--indigo-500);
  border-color: var(--indigo-500);
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.form-element-title {
  font-size: 1.2em;
  font-family: 'Urbanist-Regular', 'sans-sterif';
  font-weight: bold;
}

.form-required {
  color: red;
}

.form-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.p-chips .p-inputtext {
  width: 100%;
}

.vetting-form {
  transition: opacity 0.4s;
  display: flex;
  flex-direction: column;
  gap: 2em;
  opacity: 1;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#invalid-text {
  color: red;
  padding: 8px 0;
}

.vetting-form-hidden {
  transition: opacity 0.4s;
  opacity: 0;
}

.iconButton {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}